.owl-carousel
	.slider__info
		h1 Fusce vitae nibh quis diam fermentum
		p Etiam adipiscing ultricies commodo.
	.slider__info
		h1 Fusce vitae nibh quis diam fermentum
		p Etiam adipiscing ultricies commodo.
	.slider__info
		h1 Fusce vitae nibh quis diam fermentum
		p Etiam adipiscing ultricies commodo.
	.slider__info
		h1 Fusce vitae nibh quis diam fermentum
		p Etiam adipiscing ultricies commodo.